.home {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}

@media screen and (min-width: 769px) {
    .home {
        width: 50%;
    }
}

.home .btn {
    display: block;
    max-width: 80px;
    text-align: center;
    margin: .5rem 0 2rem 0;
}

.photo-utils {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.no-photos {
    text-align: center;
}

.no-photos a {
    color: #0094f6;
}

.comment-area {
    display: flex;
    align-items: center;
}

.comment-area svg {
    font-size: 1.3rem;
}

.comment-area p {
    margin-left: 1rem;
}