.search {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}

@media screen and (min-width: 769px) {
    .search {
        width: 50%;
        margin: 0 auto;
        padding-top: 2rem;
    }
}

.search h2 {
    text-align: center;
}

.search .btn {
    display: block;
    max-width: 80px;
    text-align: center;
    margin: .5rem 0 2rem 0;
}

.search .like {
    border: none;
}